@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-one: #0F172A;
  --color-two: #38BDF8;
  --color-text: #6B7280;

  --font: 'Poppins', sans-serif;

}

* {
  font-family: var(--font);
  color: #fff;
}

body {
  background: var(--color-one);
}